@import "../../app.scss";

.about {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;

  .wrapper{
    height: 100%;
    display: flex;
    justify-content: center;

    .imageContainer {
      height: 85%;
      display: flex;
      position: absolute;

    }

    .slidingText{
      position: absolute;
      font-size: 18vh;
      white-space: nowrap;
      color: #B185A733;
      width: 40%;
      z-index: -1;
      top: 30%;

    }
  }
}


