.navbar{
  height: 100px;

  .wrapper{
    max-width: 1366px;
     margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .name{
      font-weight: bold;
      font-size: 30px;
    }

    .info{
      display: flex;
      gap: 20px;
      font-size: 24px;
    }
  }
}